#calendar_matches{

  margin-top: 25px;
  width: 750px;
  background-color: white;
  padding: 20px;

  .fc-today{
  // background-color: white !important;
  }

  .fc-title{
    color: #77b255;
    font-size: 25px;
  }

  .fc-content{
    text-align: center;
    // background-color: white;
  }

  .fc-day-grid-event{
    z-index: -1 !important;
    margin-top: -4px;
    background-color: transparent !important;
    border: none;
  }
}

@media all and (max-width: 760px) {
  #calendar_matches {
    .fc-day-grid-event {
      margin-top: -10px;
    }
  }
}

@media all and (max-width: 575px) {
  #calendar_matches {
    .fc-day-grid-event {
      margin-top: -4px;
    }
  }
}
