// error messages
.first-name-error-message {
    display: none;
    font-size: 13px;
    color: #FD0F15;
    margin: 0px;
}

.last-name-error-message {
    display: none;
    font-size: 13px;
    color: #FD0F15;
    margin: 0px;
}

.country-error-message {
    display: none;
    font-size: 13px;
    color: #FD0F15;
    margin: 0px;
}

.city-error-message {
    display: none;
    font-size: 13px;
    color: #FD0F15;
    margin: 0px;
}