.card-group-index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:white;
  margin: 8px;
  padding: 18px;
  list-style: none;
  box-shadow: aqua 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2px;
  b {
    color: gray;
  }
  .group-links {
   margin-top:  32px;
   margin-bottom: -4px;
 }
}


 .group-member-layout {
  width: 100%;
  max-height: 150px;
  line-height: 2.5em;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #D3D0CB white;
  .size-review{
    line-height: 1em;
    padding-left: 20px;
  }
}

.group-layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
}

.member_each{
  display:flex;
  justify-content:space-between;
  margin-right: 15px;
  margin-left: 15px;

  img{
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
}

.top{
  display:flex;
  justify-content:space-between;
  margin-bottom:20px;
}

.top > img {
  height: 50px;
  width: 50px;
}

.top >h3 {
  color: #2C3637;
  font-size:30px;
  letter-spacing: 0px;
  font-weight: bolder;
}

.medium{
  display:flex;
  justify-content:space-between;
}
.bottom{
  display:flex;
  justify-content:right;
    .icon{
    color: #2C3637;
    font-size:20px;
    letter-spacing: 10px;
  }
}


.icon:hover{
  color: #D3D0CB;
  font-size:20px;
  letter-spacing: 8px;
}

.add-something{
  color:#2C3637;
  font-size: 20px;
  letter-spacing: 8px;
  text-align: right;
  // padding-top: 5px;
  margin-bottom: 10px;
  margin-top: 15px;
    a{
      color:#2C3637;
    }
}
.add-something:hover{
  color: #D3D0CB;
  a{
    color: #D3D0CB;
  }
}

.add-something p {
  margin: 0px;
}

.landing-main-groups {
  margin-top: -325px;
  border: solid 1px #D3D0CB;
  border-radius: 5px;
  background-color: white;
}
