// Specific CSS for your home-page

// color green clair : #A1CDA8
// color crème : #FCF7F8
// color green foncé / écriture : #2C363F

#homepage {
  margin-top: -365px;
  background-color: #A1CDA8;
  // opacity: 0.5;
  // background-image: url("yann.jpg");
  // background-size: cover;
  height: 900px;

  #carouselExampleIndicators {
    z-index: 20;
  }

  .landing-header {
    h4 {
      margin: 0px;
      color: #2C363F;
      text-align: center;
    }
  }

  .landing-main {
    width: 1200px;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 50px rgba(44, 54, 63, 0.3);

    .image-caption {
      height: 600px;
      object-fit: cover;
      // border-radius: 2px;
      box-shadow: 0px 0px 150px rgba(44, 54, 63, 0.6);
    }

    .caption-sentence {
      color: white;
      text-shadow: 0px 0px 1px black;
    }
  }

  .landing-footer {

  }

}

