input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.user-chip {
    background-color: #A1CDA8;
    border-radius: 3px;
    margin: 4px;
    padding: 8px;
    font-weight: initial;
    color: #f6f6f6;
}

.inactif {
    display: none;
}

#shown_user_ids {
    position: relative;
    width: 400px;
}

#user_search_results {
    position: absolute;
    border: solid 1px #9b9b9b;
    border-top: none;
    border-radius: 0px 0px 2px 2px;
    background-color: #ffffff;
    padding: 20px;
    left: 0;
    width: 400px;
    top: 73px;
    p {
        cursor: pointer;
    }
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.min_date {
    width: 45%;
}

.max_date {
    width: 50%;
}

.min_time {
    width: 45%;
}

.max_time {
    width: 50%;
}

.double-point {
    padding: 6px 0px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}

.min-min-input {
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
}

.hour-min-input {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    text-align: center;
}

.min-max-input {
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
}

.hour-max-input {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    text-align: center;
}

.hours-container {
    display: flex;
}

.hours-container-1 {
    width: 50%;
}

.hours-container-2 {
    display: flex;
    width: 35%;
}

.fancy-hover {
    background-color: #f4f4f4;
    padding: 3px;
    border-radius: 5px;
}

.custom-dropdown {
    position: relative;
    .form-group {
        display: flex;
        flex-direction: column;
    }
}

.form {
    background: white;
    margin-top: 25px;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.box-new {
    background: none;
    border: none;
    max-width: 720px !important;
}

.max_date {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.min_date {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.match_user_ids .invalid-feedback {
    display: none;
}

// error messages
.error-message {
    display: none;
    font-size: 13px;
    color: #FD0F15;
    margin: 0px;
}

.error-red {
    border: solid 1px #FD0F15;
    border-radius: 2px;
}

.error-green {
    border: solid 1px #A7D930;
    border-radius: 2px;
}

.date-min-error-message {
    display: none;
    font-size: 13px;
    color: #ffffff;
    margin: 0px;
}

.hour-error-red {
    border-left: solid 1px #FD0F15;
    border-top: solid 1px #FD0F15;
    border-bottom: solid 1px #FD0F15;
    border-radius: 2px 0px 0px 2px;
    outline: none;
}

.min-error-red {
    border-right: solid 1px #FD0F15;
    border-top: solid 1px #FD0F15;
    border-bottom: solid 1px #FD0F15;
    border-radius: 0px 2px 2px 0px;
}

.hour-error-green {
    border-left: solid 1px #A7D930;
    border-top: solid 1px #A7D930;
    border-bottom: solid 1px #A7D930;
    border-radius: 2px 0px 0px 2px;
    outline: none;
}

.min-error-green {
    border-right: solid 1px #A7D930;
    border-top: solid 1px #A7D930;
    border-bottom: solid 1px #A7D930;
    border-radius: 0px 2px 2px 0px;
    outline: none;
}

.double-point-red {
    padding: 6px 0px;
    border-top: 1px solid #FD0F15;
    border-bottom: 1px solid #FD0F15;
}

.double-point-green {
    padding: 6px 0px;
    border-top: 1px solid #A7D930;
    border-bottom: 1px solid #A7D930;
}

.attendee-error-message {
    display: none;
    font-size: 13px;
    color: #FD0F15;
    margin: 0px;
}

.attendee_error_msg {
    color: #FD0F15;
    font-size: 13px;
}