.my-calendar {
  margin-top: 25px;
  width: 750px;
  background: white;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.content-main-my-calendar {
  background: none;
  border: none;
}
