@media all and (max-width: 599px) {
    .my-calendar-page {
        // padding-top: 12vh;
        // padding: 2vh 2vw;
        padding: 21vh 2vw 2vh 2vw;
        height: 100%;
        .my-calendar {
            background: white;
            width: 100%;
            padding: 1.5vh 3vw;
            border-radius: 3px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            height: 100%;
        }
    }
    //modifications on the calendar
    .fc {
        .fc-toolbar {
            .fc-left {
                h2 {
                    font-size: 1em;
                }
            }
            .fc-right {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: center;
                .fc-today-button {
                    height: 3vh;
                    font-size: 0.5em;
                    display: flex;
                    align-items: center;
                }
                .fc-button-group {
                    .fc-prev-button {
                        height: 3vh;
                        width: 4vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .fc-icon-chevron-left {
                            font-size: 0.8em;
                        }
                    }
                    .fc-next-button {
                        height: 3vh;
                        width: 4vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .fc-icon-chevron-right {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
        .fc-view-container {
            .fc-head {
                .fc-day-header span {
                    font-size: 0.9em !important;
                }
            }
            .fc-body {
                .fc-day-grid-container {
                    height: 100% !important;
                    .fc-event-container {
                        .fc-day-grid-event {
                            .fc-content {
                                overflow: auto;
                                .fc-time {}
                                .fc-title {}
                            }
                        }
                    }
                }
            }
        }
    }
}