@media all and (max-width: 599px) {
    .my-groups-page-container {
        height: 100%;
        .my-groups-page {
            padding: 18vh 2vw 2vh 2vw;
            height: 100%;
            // if empty
            .no-group {
                padding-top: 8vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                h3 {
                    text-align: center;
                    margin-bottom: 2vh;
                    width: 100%;
                    font-size: 6vw;
                }
                .add-something {
                    color: #2C3637;
                    font-size: 5vw;
                    letter-spacing: 1px;
                    a {
                        color: #2C3637;
                    }
                }
            }
            // if groups
            .add-something-when-groups {
                display: flex;
                justify-content: flex-end;
                color: #2C3637;
                font-size: 4vw;
                letter-spacing: 1px;
                margin-bottom: 1.5vh;
                a {
                    color: #2C3637;
                }
                a:focus {
                    text-decoration: none;
                }
            }
            .card-index {
                display: grid;
                grid-template-columns: 100%;
                .group-card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: white;
                    padding: 3vw;
                    list-style: none;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    border-radius: 2px;
                    margin-bottom: 2vh;
                    .top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 1vh;
                        h3 {
                            margin: 0;
                            color: #2C363F;
                            font-weight: bolder;
                            font-size: 1.8em;
                        }
                        img {
                            width: 10vw;
                            height: 10vw;
                            border-radius: 50%;
                            border: solid 1px white;
                        }
                    }
                    .medium {
                        display: flex;
                        justify-content: space-between;
                        max-height: 21vh;
                        overflow: scroll;
                        .group-member-layout {
                            width: 100%;
                            line-height: 2.5em;
                            overflow-y: scroll;
                            scrollbar-width: thin;
                            scrollbar-color: white;
                            .member_each {
                                display: flex;
                                align-items: center;
                                margin-left: 4vw;
                                img {
                                    width: 8vw;
                                    height: 8vw;
                                    border-radius: 50%;
                                    object-fit: cover;
                                }
                                p {
                                    margin: 0;
                                    padding-left: 2vw;
                                    font-size: 0.8em;
                                }
                            }
                        }
                    }
                    .bottom {
                        display: flex;
                        justify-content: flex-start;
                        margin-top: 1vh;
                        // align-items: end;
                        .group-links {
                            display: flex;
                            justify-content: center;
                            margin: 0;
                            .icon {
                                width: auto;
                                color: #2C3637;
                                font-size: 2vh;
                                padding-right: 1vw;
                                letter-spacing: 0.5vw;
                            }
                            .icon:hover {
                                text-decoration: none;
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}