.my-calendar {
  margin-top: 25px;
  width: 750px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: solid 1px #9b9b9b;
}


.content-main-my-calendar {
  background: none;
  border: none;
}
