<h1>My account</h1>

<div class="avatar">
  <% if current_user.avatar != nil %>
    <%= image_tag "#{current_user.avatar}", height: 150, width: 150 %>
  <% end %>
</div>

<div class="google-account">
  <p><strong>You are connected with your Google Account :</strong> <%= "#{current_user.email}" %></p>
</div>

<p><%= link_to "Back home", root_path %></p>


