<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>you're logged in</p>


<iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBrussels&amp;showTitle=1&amp;src=bXJkaWZhbGtvQGdtYWlsLmNvbQ&amp;color=%23039BE5&amp;hl=en&amp;showTz=0&amp;showTabs=1&amp;showPrint=0&amp;showDate=1&amp;title=My%20calendar" style="border:solid 1px #777" width="500" height="400" frameborder="0" scrolling="no"></iframe>

<p>"Upcoming events:"</p>
<% if @response.items.empty? %>
  No upcoming events found
<% else %>
  <% @response.items.each do |event| %>
  <ul>
  <% start = event.start.date || event.start.date_time %>
  <% ended = event.end.date || event.end.date_time %>
  <li>
  <%= "#{event.summary} #{start} - #{ended}" %>
  </li>
  </ul>
  <% end %>
<% end %>
