<div class="container">

  <h3 class="text-center mt-4">Select a day</h3>


  <div class="container cal">
    <div
      id="calendar_matches"
      data-ids="<%= current_user.email %>"
      data-results="<%= @results.to_json %>"
      data-matchid="<%= @match.id.to_json%>"
      class="container"
    >
    </div>

  </div>

</div>
