<div id="wrapper" class="background-green-white">

  <div class="container">

    <div class="my-calendar-page">

      <div class="my-calendar">

        <div
          id="calendar_matches"
          data-ids="<%= current_user.email %>"
          data-results="<%= @results.to_json %>"
          data-matchid="<%= @match.id.to_json%>"
          class="container"
        >

      </div>

    </div>

  </div>

</div>

