<!-- <h1>Your Personnal EVENTS from your very own Google Calendar</h1> -->

<!-- Your events are down here. Don't forget to put pe and er on "end" -->
<!-- <ul>
@userevents.each do |event|
<li>
"#{event.summary} - #{event.start_time} - #{event.end_time}"
</li>
end
</ul> -->
<<<<<<< HEAD

=======
>>>>>>> f2aea6491c7b4557c9799177dd46b2883d2f5a3d
<div class="green-bottom-background">

  <div class="white-top-background">
  </div>
  <div class="container content-main content-main-my-calendar">
    <div class="container my-calendar">
      <div
        id="calendar"
        data-ids="<%= current_user.email %>"
      >
      </div>
    </div>
  </div>
</div>
