<div id="wrapper" class="background-green-white">

  <div class="container">

    <div class="my-calendar-page">

      <div class="my-calendar">

        <div
          id="calendar"
          data-ids="<%= current_user.email %>"
        >

        </div>

      </div>

    </div>

  </div>

</div>
