<h1>Your Personnal EVENTS from your very own Google Calendar</h1>
<ul>
<% @userevents.each do |event| %>
<li>
<%= "#{event.summary} - #{event.start_time} - #{event.end_time}" %>
</li>
<% end %>
</ul>
