//
.background-green-white-home {
    background: rgb(252, 247, 248);
    background: linear-gradient(180deg, rgba(252, 247, 248, 1) 60%, rgba(161, 205, 168, 1) 60%);
}

.background-green-white {
    background: rgb(252, 247, 248);
    background: linear-gradient(180deg, rgba(252, 247, 248, 1) 50%, rgba(161, 205, 168, 1) 50%);
    margin-top: -17vh;
}

@media all and (max-width: 599px) {
    .home {
        margin-top: -8.7vh;
    }
    @media all and (min-height: 800px) and (max-height: 999px) {
        .home {
            margin-top: -9vh;
        }
    }
}

// color green clair : #A1CDA8
// color crème : #FCF7F8
// color green foncé / écriture : #2C363F