.navbar-lewagon-not-connected {
    display: flex;
    justify-content: space-between;
    .title-brand {
        display: flex;
        justify-content: left;
        align-items: center;
        align-content: center;
    }
    .navbar-brand-button-not-connected {
        img {
            width: 50px;
        }
    }
    .navbar-brand-title-not-connected h1 {
        font-size: 4vw;
        color: #2C363F;
        display: flex;
        align-self: center;
        margin: 0;
        margin-left: 15px;
    }
    .navbar-brand-title-not-connected h1:hover {
        text-decoration: none;
    }
}

@media all and (max-width: 599px) {
    .navbar-lewagon-not-connected {
        display: flex;
        justify-content: space-between;
        .navbar-lewagon-not-connected-top-left {
            display: flex;
            align-content: center;
            align-items: center;
            .navbar-brand-button-not-connected {
                width: 5vw;
                margin-right: 2vw;
            }
            .navbar-brand-title-not-connected h1 {
                font-size: 4vw;
                color: #2C363F;
                display: flex;
                align-self: center;
                margin: 0;
            }
        }
        .navbar-lewagon-not-connected-top-left:hover {
            text-decoration: none;
        }
    }
}