
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 50px 50px 50px 55px;
  background-color: #FCF7F8;
  // border-bottom: solid 1px black;
}

.dropdown-menu {
  z-index: 30;
}

.dropdown-toggle {
  z-index: 30;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand-button img {
  width: 40px;
  height: 45px;
  margin-right: 8px;
  transition: .2s;
}

.navbar-lewagon .navbar-brand-button img:hover {
  width: 40px;
  height: 45px;
  margin-right: 8px;
  transform: scale(1.12);
}

.navbar-lewagon .navbar-brand-title {
  height: 40px;
  text-decoration: none;
  margin-left: -285px;
  // color
}

.navbar-lewagon .navbar-brand-title h1 {
  margin: 0px;
  color: #2C363F;
  transition: 0.2s;
}

.nav-link {
  margin-right: 43px;
  color: #4A6C6F !important;
  border-bottom: solid 1px #FCF7F8;
  transition: 0.3s;
  padding-right: 0px;
}

.nav-link:hover {
  border-bottom: solid 1px #A1CDA8;
  color: #4A6C6F !important;
  margin-right: 43px;
  padding-right: 0px;
}

.nav-link-create {
  margin-right: 43px;
  padding: 10px 15px;
  color: rgba(252, 247, 248, 1) !important;
  background-color: #2C363F;
  border: solid 1px #2C363F;
  border-radius: 30px;
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  align-self: center;
}

.nav-link-create:hover {
  border: solid 1px #2C363F;
  border-radius: 30px;
  color: #2C363F !important;
  background-color: rgba(252, 247, 248, 1);
  margin-right: 43px;
  text-decoration: none;
}

.avatar {
  cursor: pointer;
}

.root-navbar-button {
  display: flex;
  justify-content: center;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  border-color: #2C363F;
  background-color: #FCF7F8;
}

.dropdown-menu a {
  color: #2C363F;
}

.dropdown-menu a:hover {
  color: #FCF7F8;
  background-color: #9FCCA6;
}
