// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.fc-today{
  background-color: #f4f4f4 !important;
  border: solid;

}

.fc-title{
  color: #77b255;
  font-size: 50px;
  // display: flex;
  // justify-content: center;
  // align-content: center;
}

.fc-content{
  text-align: center;
  // vertical-align: middle;
  position: absolute;
  top: 25px;
  // display: flex;
  // align: justify;
}

.fc-event-container {
  // display: flex;
  // align-self: center;
}

// .fc-day {
//   display: grid;
// }
